.slider {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 300px;
  margin: -150px 0 0 -300px;
}

.chuck-image {
  position: absolute;
  top: -120px;
  left: 410px;
  height: 500px;
  z-index: 6;
  img {
    width: auto;
    height: 100%;
  }
}



.buttons {
  margin-top: 10px;
  z-index: 10;
  position: absolute;
}

.category-button {
  outline: none;
  cursor: pointer;
  padding: 5px;
  border: none;
  border-radius: 3px;
  background-color: #ccc;
  margin: 4px;
  transition: all 200ms cubic-bezier(1.000, -0.200, 0.230, 1.165);
  z-index: 0;
  &:hover {
    background-color: #ffd000;
    transform: scale(1.5);
    z-index: 1;
  }
}
